<form class="message-input-form">
    <div class="message-input-user">
        <img class="message-input-user-avatar" src="{{user.avatar}}" width="40" height="40">
        <div class="message-input-pings"></div>
    </div>
    <textarea class="message-input-text" placeholder="Start typing your message or drop files…"></textarea>
    <button type="submit" class="message-input-send">send</button>
</form>