<div>
    <p>An error occurred! Maybe your console can tell you more.</p>

    <p>If you don't know how to use the console,<br>
        just report the following error messages as a bug.</p>
</div>

<div id="js-error-message">
    <p>{{message}}</p>

    <p>{{url}}:{{line}}</p>
</div>

<div id="js-error-actions">
    <button id="js-error-dismiss">Dismiss</button>
</div>