<a class="in-reply" href="/messages/{{replyId}}" target="_blank">
    {{#if highlight}}
        <span class="ping">@{{replyUserName}}</span>
    {{else}}
        @{{replyUserName}}
    {{/if}}
</a>:&nbsp;