<div class="message-select">
    <div class="message-author">
        <span class="message-author-name">{{authorName}}</span>
        <img class="message-author-avatar" src="{{authorAvatar}}">
    </div>

    <div class="message-content">
        {{markdown text}}
    </div>
</div>