<section class="card chat-main">
    <header class="card-head">
        {{name}}
    </header>
</section>

<aside class="card chat-info">
    <header class="card-head card-head-tabs">
        <div class="card-head-tab card-head-tab-active">
            Members
        </div>

        <div class="card-head-tab">
            Files
        </div>

        <div class="card-head-tab">
            Activity
        </div>
    </header>

    <section class="chat-room-member-list">
        {{#each users}}
            <div class="chat-room-member">
                <span class="chat-room-member-avatar">
                    <img width="26" height="26" src="https://avatars0.githubusercontent.com/u/{{avatar}}?v=3&s=460">
                </span>

                <span class="chat-room-member-name">
                    {{name}}
                </span>
            </div>
        {{/each}}
    </section>
</aside>