<div class="flex-center text-center">
    <p><i class="fa fa-frown-o fa-4x"></i></p>

    <p><b>Your browser doesn't support WebSockets.</b></p>

    <p class="text-small">We're using WebSockets to communicate with our server.<br>
        WebSockets are supported in the last two version of all major browsers.</p>

    <p><b>You're currently using {{name}} / {{version}}.</b></p>

    <p>
        Update your browser or switch to one that
        <a href="http://caniuse.com/#feat=websockets" target="_blank">
            supports WebSockets
        </a>.
    </p>
</div>