.chat-room-member
  display: flex
  background-color: #fff
  padding: 0 15px
  border-bottom: 1px solid rgba(0, 0, 0, .1)
  &:nth-child(2n)
    background-color: #f9f9f9

.chat-room-member-avatar,
.chat-room-member-name,
.chat-room-member-state
  line-height: 34px
  height: 35px
  display: flex

.chat-room-member-name
  padding-left: 15px
  font-size: 14px
  flex-grow: 1

.chat-room-member-avatar > img
  margin: auto
  border-radius: 50%
  border: 1px solid rgba(0, 0, 0, .1)

.chat-room-member-state
  display: flex

.chat-room-member-state-icon
  align-self: center
  width: 12px
  height: 12px
  border-radius: 50%
  background-color: #ccc
  border: 1px solid rgba(0, 0, 0, .15)

.chat-room-member-state-icon[data-state="active"]
  background-color: #94dd87

.chat-room-member-state-icon[data-state="inactive"]
  background-color: #c2a968