.message
  position: relative
  border-top: 1px solid rgba(0, 0, 0, .1)
  &:last-child
    border-bottom: 1px solid rgba(0, 0, 0, .1)
  &:target
    background-color: #fffce1
  &.message-highlight,
  &.input-reply
    background-color: #e5fad6
  &.message-selected
    background-color: #dff5ff

.message-select
  display: flex
  line-height: 24px
  font-size: 14px
  padding: 7px 0
  &:hover
    background-color: rgba(0, 0, 0, .05)

.message-selected .message-select:hover
  background-color: rgba(255, 255, 255, .5)

.message-author
  display: flex
  width: 120px
  margin-right: 20px
  font-size: 12px
  flex-shrink: 0

.message-author-name
  display: inline-block
  flex-grow: 1
  text-align: right
  overflow: hidden
  text-overflow: ellipsis
  padding-left: 15px

.message-author-avatar
  width: 18px
  height: 18px
  margin-left: 8px
  margin-top: 3px
  margin-bottom: 3px
  vertical-align: middle
  display: inline-block
  border-radius: 3px

.message-content
  flex-grow: 1
  flex-shrink: 1
  word-wrap: break-word
  padding-right: 15px

.message-time
  color: #888
  font-size: 11px
  text-align: right
  padding-right: 15px
  flex-shrink: 0
  a
    color: #888
    &:hover
      color: #444
      text-decoration: none

.message pre, code
  white-space: pre-wrap !important
  word-wrap: break-word

.message blockquote
  padding: 0 10px
  margin: 0 5px
  border-left: 1px dashed #999

.message pre code
  display: block !important
  color: #333 !important
  line-height: 16px
  padding: 8px 0

.message code
  padding: 0 2px
  line-height: inherit
  color: #555
  font-size: inherit
  font-family: "Source Code Pro", monospace

.in-reply
  cursor: pointer
  display: inline-block
  color: inherit
  &:hover
    text-decoration: none

.in-reply::before
  content: "\f112"
  display: inline-block
  font: normal normal normal 14px/1 "FontAwesome"
  transform: translateY(-1px) rotate(90deg) scale(.75, -.75)
  font-size: inherit

.message ul
  padding-left: 20px

.message li
  line-height: 24px

.message p
  margin-top: 5px
  margin-bottom: 5px
  &:first-child
    margin-top: 0
  &:last-child
    margin-bottom: 0
  + ul
    margin-top: -5px