<header>

</header>

<main class="chat">
    <nav class="card chat-rooms">
        <header class="card-head">
            Rooms
        </header>
    </nav>

    <section class="card chat-main">
        <header class="card-head">
            Two Crowns
        </header>

        <section class="messages">

        </section>

        <section class="message-input">
            <form action="messages/new" class="message-input-form">
                <textarea class="message-input-text" placeholder="Start typing your message or drop files…"></textarea>
                <button type="submit" class="message-input-send">send</button>
            </form>
        </section>
    </section>

    <aside class="card chat-info">
        <header class="card-head card-head-tabs">
            <div class="card-head-tab card-head-tab-active">
                Members
            </div>

            <div class="card-head-tab">
                Files
            </div>

            <div class="card-head-tab">
                Activity
            </div>
        </header>
    </aside>
</main>