<form class="message-input-form">
    <textarea class="message-input-text" placeholder="Start typing your message or drop files…"></textarea>
    <button type="submit" class="message-input-send">send</button>
</form>