<nav class="card chat-rooms">
    <header class="card-head">
        Rooms
    </header>
</nav>

<section class="card chat-main">
    <header class="card-head">
        Two Crowns
    </header>
</section>

<aside class="card chat-info">
    <header class="card-head card-head-tabs">
        <div class="card-head-tab card-head-tab-active">
            Members
        </div>

        <div class="card-head-tab">
            Files
        </div>

        <div class="card-head-tab">
            Activity
        </div>
    </header>
</aside>